@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Rubik:wght@300&display=swap");

$Nunito-font: "Nunito", sans-serif;
$Rubik-font: "Rubik", sans-serif;

$background-color: rgb(30, 39, 49);
$box-color: rgb(95, 105, 114);
$button-color: #3afa84;

* {
  box-sizing: border-box;
  margin: 0;
}
